*__pycache__*
.git
.venv

legacy/

*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.gz
*.snm
*.nav
*.toc

experiments/result_metrics.xlsx

data/turkish_electricity_consumption/TurkElectricityConsumption.csv
data/weather/daily_weather.parquet
data/UCI_HAR_Dataset
data/motion2

doc/english/bst
doc/english/sn-article-template
doc/Thesis
doc/feedback
